main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.4rem;
  padding: 1rem 0;
}
/* this mean h1 padding for 1rem on the top and bottom,while zero left and right */

h2 {
  font-size: 1.8rem;
  padding: o.1rem;
}

.rating span {
  margin: 0.1rem;
}
